/* SidebarItem Component Styles */
.sidebar-item {
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: background 0.2s;
  background: #64ad97;
  height: 2rem;
  color:black
}
.sidebar-item:hover {
  background: #54dda8;
} 

.sidebar-icon {
  width: 1.5rem;
  height: 1.5rem;
  transition: width 0.2s, height 0.2s;
  vertical-align: middle;
}
.sidebar-icon-expanded {
  margin-right: 0.5rem;
  /* width: 1.5rem;
  height: 1.5rem; */
}
/* .sidebar-icon-collapsed {
  width: 1.5rem;
  height: 1.5rem;
} */

.sidebar-label {
  display: inline-block;
  vertical-align: middle;
}